@charset "UTF-8";
@import "common-mixin";

/*ガンバーガーメニュー*/
.scroll-prevent{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.g_menu{
	float: right;
	position:fixed;
	top:10px;
	left:10px;
	height: 44px;
	width: 44px;
	text-align: center;
	margin: 0px;
	z-index:1000;
	color: #fff;
	font-size: 75%;
	background-color:#F4F4F4;
	border:solid 0px #fff;
	border-radius:22px;
	i{
		display: block;
		width: 14px;
		height: 2px;
		border-radius: 1px;
		background: #333333;
	}
	i:nth-of-type(1){
		margin: 16px auto 0;
	}
	i:nth-of-type(2){
		margin: 3px auto 0;
	}
	i:nth-of-type(3){
		margin: 3px auto 5px;
	}
}
.g_menu.white{
	color: #000;
	i{
		background: #000;	
	}
}
.openmenu .g_menu.white{
	color: #000;
	i{
		background: #fff;	
	}
}
.openmenu .g_menu{
	background-color:#fff;
}
/**/
.g_menu i:nth-of-type(1) {
	-webkit-animation: menu-bar01 .75s forwards;
	animation: menu-bar01 .75s forwards;
}
@-webkit-keyframes menu-bar01 {
	0% {
		-webkit-transform: translateY(0px) rotate(45deg);
	}
	50% {
		-webkit-transform: translateY(0px) rotate(0);
	}
	100% {
		-webkit-transform: translateY(0) rotate(0);
	}
}
@keyframes menu-bar01 {
	0% {
		transform: translateY(5px) rotate(45deg);
	}
	50% {
		transform: translateY(5px) rotate(0);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}
.g_menu i:nth-of-type(2) {
	transition: all .25s .25s;
	opacity: 1;
}
.g_menu i:nth-of-type(3) {
	-webkit-animation: menu-bar02 .75s forwards;
	animation: menu-bar02 .75s forwards;
}
@-webkit-keyframes menu-bar02 {
	0% {
		-webkit-transform: translateY(-5px) rotate(-45deg);
	}
	50% {
		-webkit-transform: translateY(-5px) rotate(0);
	}
	100% {
		-webkit-transform: translateY(0) rotate(0);
	}
}
@keyframes menu-bar02 {
	0% {
		transform: translateY(-5px) rotate(-45deg);
	}
	50% {
		transform: translateY(-5px) rotate(0);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}
.openmenu .g_menu i:nth-of-type(1) {
	-webkit-animation: active-menu-bar01 .75s forwards;
	animation: active-menu-bar01 .75s forwards;
	width: 14px;
}
@-webkit-keyframes active-menu-bar01 {
	0% {
		-webkit-transform: translateY(0) rotate(0);
	}
	50% {
		-webkit-transform: translateY(0px) rotate(0);
	}
	100% {
		-webkit-transform: translateY(0px) rotate(45deg);
	}
}
@keyframes active-menu-bar01 {
	0% {
		transform: translateY(0) rotate(0);
	}
	50% {
		transform: translateY(5px) rotate(0);
	}
	100% {
		transform: translateY(5px) rotate(45deg);
	}
}
.openmenu .g_menu i:nth-of-type(2) {
	opacity: 0;
	width: 14px;
}
.openmenu .g_menu i:nth-of-type(3) {
	-webkit-animation: active-menu-bar03 .75s forwards;
	animation: active-menu-bar03 .75s forwards;
	width: 14px;
}
@-webkit-keyframes active-menu-bar03 {
	0% {
		-webkit-transform: translateY(0) rotate(0);
	}
	50% {
		-webkit-transform: translateY(-5px) rotate(0);
	}
	100% {
		-webkit-transform: translateY(-5px) rotate(-45deg);
	}
}
@keyframes active-menu-bar03 {
	0% {
		transform: translateY(0) rotate(0);
	}
	50% {
		transform: translateY(-5px) rotate(0);
	}
	100% {
		transform: translateY(-5px) rotate(-45deg);
	}
}
/**/

/* グロナビ */
nav{
	width:100%;
}
nav {
	width: 100%;
}
header + nav{
	z-index:1000;
}

header + nav{
	//position: fixed;
	z-index: 100;
	display:block;
	margin:0;
	padding:0;
	top:0;
	left:0;
	display:block;
}
nav + header {
	/*padding-top:4rem;*/
}
.fixed{
	position: fixed;
	z-index: 100;
	display:block;
	margin:0;
	padding:0;
	top:0;
	left:0;
}
.container{
	background-size: contain;
	background-position: center 25px;
}
#nav_box{
	height: 100%;
	//height: calc(100% - 60px);
	//position: relative;
	//overflow:hidden;
	text-align:center;
	//margin:0px auto 0;
	padding:0px;
	border:solid 0px #fff;
	//box-sizing:border-box; 
	//display:none;
	transform: translateY(-100000px);
	transition: all .5s;
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	margin-right:0px;
	z-index: 101;
	background:#F4F4F4;
	overflow:hidden;
	transition: all .1s;
	padding:0 20px 0 20px;
	box-sizing:border-box;
	//display:none;
	ul.nav__link-box {
		position: relative;
		margin: 4px auto 30px;
		height:auto;
		width:calc(100% - 20px);// 110 + 20 + 20
		left:0px;
		padding:0 0 0 30px;
		line-height: normal;
		overflow:hidden;
		//margin-right:-400px;
		//transition: all .5s;
		//background:rgba(32,39,51,.95);
		border-bottom:solid .5px #fff;
		box-sizing:border-box;
		li.nav__link,li.menu-item,li {
			margin:0;
			padding:0;
			//border-bottom:solid 1px $sp_menu_line;
			box-sizing:border-box; 
			line-height:50px;
			transition: 0.5s;
			display:list-item;
			width:100%;
			line-height:40px;
			text-indent:1.5rem;
			a {
				position: relative;
				display: block;
				width: 100%;
				display: block;
				text-align: left;
				color: #333333;
				font-size:1.3rem;
				padding-left:0;
				font-weight:600;
				text-decoration:none;
				letter-spacing:.2rem;
				font-family: 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std', 'Meiryo', 'メイリオ','Noto Sans Japanese', sans-serif;
				transition:.3s;
				&::after{
					content:attr(title);
					display:inline;
					color:#fff;
					font-size:1.1rem;
					text-align:center;
					width:100%;
					padding-left:1rem;
					padding-right:1rem;
					position:relative;
					top:-1px;
					letter-spacing:.1rem;
					font-family: 'Noto Sans Japanese', sans-serif;
				}
				&:before{
					content:"";
					display:block;
					width:32px;
					height:32px;
					border-radius:50%;
					position:absolute;
					left:-24px;
					top:3px;
				}
				&:hover {
					opacity:.8;
					left:10px;
					transition:.3s;
					color:#E2001A;
				}
			}
			.sub-menu{
				margin:0 0 20px;
				li{
					margin:0;
					padding:0;
					//border-bottom:solid 1px $sp_menu_line;
					box-sizing:border-box; 
					line-height:50px;
					transition: 0.5s;
					display:list-item;
					width:100%;
					height:40px;
					text-indent:1.5rem;
					a {
						position: relative;
						display: block;
						width: 100%;
						display: block;
						text-align: left;
						color: $sp_menu_text;
						font-size:1.4rem;
						padding-left:20px;
						font-weight:400;
						text-decoration:none;
						letter-spacing:.2rem;
						font-family: 'Lato', sans-serif;
						&::after{
							content:attr(title);
							display:inline;
							color:#fff;
							font-size:1.1rem;
							text-align:center;
							width:100%;
							padding-left:1rem;
							padding-right:1rem;
							position:relative;
							top:-1px;
							letter-spacing:.1rem;
							font-family: 'Noto Sans Japanese', sans-serif;
						}
						&:hover {
							opacity:.8;
							left:10px;
						}
					}
				}
			}
		}
		li.fsicon01 a{
			&:before{
				background: url(../../images/royalcanin/fsicon01.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon02 a{
			&:before{
				background: url(../../images/royalcanin/fsicon02.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon03 a{
			&:before{
				background: url(../../images/royalcanin/fsicon03.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon04 a{
			&:before{
				background: url(../../images/royalcanin/fsicon04.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon05 a{
			&:before{
				background: url(../../images/royalcanin/fsicon05.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon06 a{
			&:before{
				background: url(../../images/royalcanin/fsicon06.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon07 a{
			&:before{
				background: url(../../images/royalcanin/fsicon07.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.fsicon08 a{
			&:before{
				background: url(../../images/royalcanin/fsicon08.png) center center no-repeat #fff;
				background-size:18px;
				transition:.3s;
			}
		}
		li.nav__link_close{
			width:100%;
			height: 50px;
			color:#fff;
			border-bottom:solid 0px #fff;
			line-height: 50px;
			display:list-item;
			box-sizing:border-box; 
			transition: 0.5s;
			float:left;
			padding-top:10px;
		}
		li.nav__link_mask{
			width: 100%;
			height: 2000px;
			background-color:transparent;
			display:list-item;
			box-sizing:border-box; 
			transition: 0.5s;
			float:left;
		}
		li.current_page_item,li.current-menu-item {
			position:relative;
			a{
				//background-color:$sp_menu_bg_active;
				color:#E2001A;
			}
		}
		li.menu_toggle{
			a{
				background: url(../../images/common/menu_open.png) center right 20px no-repeat;
				background-size:15px;
				&:hover {
				}
			}
			ul.sub-menu{
				display:none;
				li{
					a{
						background:transparent;
					}
				}
				li.current_page_item{
					a{
						background-color:$sp_menu_bg_active;
						color:#fff;
					}
				}
			}
		}
	}
}
.openmenu{
	#nav_box{
		position:fixed;
		transform: translateY(0px);
		overflow: scroll;
		ul.nav__link-box {
		}
	}
}
.openmenu_sub {
}

#nav_box{
	.menu_wrap{
		max-width: 1024px;
		width:100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		display:flex;
		flex-wrap: nowrap;
		flex-direction: column;
		column-gap: 20px;
		.leftmenu{
			max-width:768px;
			margin-top:10px;
			ul.noactive_menu{
				//display:flex;
				padding:0 0 0 0px;
				display: flex;
				flex-wrap: wrap;
				column-gap:10px;
				margin:0 auto;
				li{
				display:flex;
				width:98px;
				text-align:center;
					a{
						color:#8D8D8D;
						font-size: 1.3rem;
						line-height: 1.2;
						font-weight: 600;
						//font-family: 'Noto Sans Japanese', sans-serif;
						font-family: 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std', 'Meiryo', 'メイリオ', sans-serif;
						//height:70px;
						padding-top:70px;
						position:relative;
						text-indent:0;
						text-align:center;
						letter-spacing:0;
						&:before{
							content:"";
							display:block;
							width:58px;
							height:58px;
							border-radius:50%;
							position:absolute;
							left:20px;
							top:3px;
						}
						span.locked{
							display:block;
							//width:49px;
							//height:17px;
							border-radius:2px;
							background:#CCCCCC;
							color:#fff;
							font-size: 1.2rem;
							line-height: 17px;
							font-weight: 600;
							text-indent:17px;
							margin:5px auto 0;
							//font-family: 'Noto Sans Japanese', sans-serif;
							font-family: 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std', 'Meiryo', 'メイリオ', sans-serif;
							position:relative;
							&:before{
								content:"";
								display:block;
								width:10px;
								height:11px;
								position:absolute;
								left:calc(50% - 20px);
								top:3px;
								background: url(../../images/royalcanin/ficon00.png) center center no-repeat;
								background-size:11px;
								transition:.3s;
							}
							span.coming{
								font-family: 'Noto Sans Japanese', sans-serif;
								color:#fff;
								font-size: 1.0rem;
								font-weight:normal;
								line-height:1;
								display:block;
								padding-bottom:5px;
							  text-indent:0px;
							}
						}
						&:hover{
							opacity:1;
							left: 0px;
							transition:0;
						}
					}
				}
				li.ficon01 a{
					&:before{
						background: url(../../images/royalcanin/ficon01.png) center center no-repeat #fff;
						background-size:24px;
						transition:.3s;
					}
				}
				li.ficon02 a{
					&:before{
						background: url(../../images/royalcanin/ficon02.png) center center no-repeat #fff;
						background-size:21px;
						transition:.3s;
					}
				}
				li.ficon03 a{
					&:before{
						background: url(../../images/royalcanin/ficon03.png) center center no-repeat #fff;
						background-size:23px;
						transition:.3s;
					}
				}
				li.ficon04 a{
					&:before{
						background: url(../../images/royalcanin/ficon04.png) center center no-repeat #fff;
						background-size:25px;
						transition:.3s;
					}
				}
				li.ficon05 a{
					&:before{
						background: url(../../images/royalcanin/ficon05.png) center center no-repeat #fff;
						background-size:22px;
						transition:.3s;
					}
				}
				li.ficon06 a{
					&:before{
						background: url(../../images/royalcanin/ficon06.png) center center no-repeat #fff;
						background-size:26px;
						transition:.3s;
					}
				}


			}
		}
		.rightmenu{
			max-width:768px;
		}
	}
}

/*single pagination*/
.single_return{
	width:100%;
	position:relative;
	top:0px;
	text-align:center;
	border-top: solid 1px #EDEDED;
	padding: 20px 0 20px 0;
	a{
		font-size: 1.3rem;
		line-height: 1.2;
		font-weight: 400;
		//font-family: 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std', 'Meiryo', 'メイリオ', sans-serif;
    font-family: 'Noto Sans Japanese', sans-serif;
		color:#333333;
		text-decoration:none;
		position:relative;
	&:visited{
   color:#333333;
   opacity:.8;	 
	}
	&:hover{
   opacity:.8;	 
	}
	img{
		margin-right:10px;
	}
 }
 .lists{
  padding:0 50px;
 }
 .prev-link{
	 &:before{
		 content:"";
		 display:block;
		 width:10px;
		 height:11px;
		 position:absolute;
		 left:-15px;
		 top:5px;
		 background: url(../../images/royalcanin/icon_arrow.png) center center no-repeat;
		 background-size:6px;
		 transition:.3s;
	 } 
 }
 .next-link{
	 &:before{
		 content:"";
		 display:block;
		 width:10px;
		 height:11px;
		 position:absolute;
		 right:-15px;
		 top:5px;
		 background: url(../../images/royalcanin/icon_arrow_r.png) center center no-repeat;
		 background-size:6px;
		 transition:.3s;
	 }  
 }
}


