@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
		left: -30px;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/* added*/
#slide ul{
	margin-top:0;
}
#slide .slick-arrow{
  position: absolute;
  top: 35%;
  z-index: 10;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#slide .slick-arrow img{
	width:100%;
	width:10px;
}
#slide .slick-arrow:hover{
	opacity:.5;
	transition:.3s;
}
#slide .prev{
  left: calc(50% - 258px);
}
#slide .next{
  right: calc(50% - 258px);
}
#slide .slick-dots{
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-top: 18px;
}
#slide .slick-dots li{
  display: inline-block;
	margin:0 15px;
}
#slide .slick-dots button{
  font-size: 0;
  width: 38px;
  height: 14px;
  position: relative;
  margin: 0 20px;
	display:block;
}
#slide .slick-dots button::before{
  content: "";
  width: 38px;
  height: 14px;
  background: #6095D1;
  position: absolute;
  top: 0;
  left: 0;
}
#slide .slick-dots .slick-active button::before{
  background: #006CBB;
}
#slide li img{
	width:100%;
	/*
  height:500px;
  min-height:500px;
	*/
	object-fit:cover;
}
.slick-track{
		/*
 height:500px;
 min-height:500px;
 	*/
}
.slick-list{
 padding:0 calc(50% - 550px)!important; 
}
@media screen and (max-width:768px){
#slide .slick-arrow{
  position: absolute;
  top: 30%;
  z-index: 100;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
	#slide .prev{
		left: calc(50% - 140px);
		display:none!important;
	}
	#slide .next{
		right: calc(50% - 140px);
		display:none!important;
	}
	#slide img{
		height:250px;
		min-height:250px;
		min-width: 100%;
		object-fit:cover;
	}
	.slick-track{
		height:250px;
		min-height:250px;
	}
	/*
	.slick-list{
		padding:0 calc(50% - 150px)!important; 
	}
	*/
	.slick-dots li{
		left: -10px;
	}
}
/*
 *
 * added slide_pool
 *
 *
 * */
#slide_pool ul{
	margin-top:0;
}
#slide_pool .slick-arrow{
  position: absolute;
  top: 33%;
  z-index: 100;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#slide_pool .slick-arrow:hover{
	opacity:.5;
	transition:.3s;
}
#slide_pool .prev{
  left: calc(50% - 520px);
}
#slide_pool .next{
  right: calc(50% - 520px);
}
#slide_pool .slick-dots{
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-top: 18px;
}
#slide_pool .slick-dots li{
  display: inline-block;
	margin:0 15px;
}
#slide_pool .slick-dots button{
  font-size: 0;
  width: 38px;
  height: 14px;
  position: relative;
  margin: 0 20px;
	display:block;
}
#slide_pool .slick-dots button::before{
  content: "";
  width: 38px;
  height: 14px;
  background: #6095D1;
  position: absolute;
  top: 0;
  left: 0;
}
#slide_pool .slick-dots .slick-active button::before{
  background: #006CBB;
}
#slide_pool li img{
	width:100%;
 height:300px;
  min-height:300px;
	object-fit:cover;
}
#slide_pool .slick-slide {
    height: 100%;
		padding: 0 10px;
}
#slide_pool .slick-track{
 height:330px;
 min-height:330px;
}
#slide_pool .slick-list{
 padding:0 calc(50% - 250px)!important; 
}
@media screen and (max-width:768px){
#slide_pool .slick-arrow{
  position: absolute;
  top: 30%;
  z-index: 100;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
	#slide_pool .prev{
		left: calc(50% - 140px);
		display:none!important;
	}
	#slide_pool .next{
		right: calc(50% - 140px);
		display:none!important;
	}
	#slide_pool img{
		height:200px;
		min-height:200px;
		object-fit:cover;
	}
	#slide_pool .slick-track{
		height:200px;
		min-height:200px;
	}
	/*
	.slick-list{
		padding:0 calc(50% - 150px)!important; 
	}
	*/
	.slick-dots li{
		left: -10px;
	}
}
/*
 *
 * added slide_traning
 *
 *
 * */
#slide_traning ul{
	margin-top:0;
}
#slide_traning .slick-arrow{
  position: absolute;
  top: 33%;
  z-index: 100;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#slide_traning .slick-arrow:hover{
	opacity:.5;
	transition:.3s;
}
#slide_traning .prev{
  left: calc(50% - 520px);
}
#slide_traning .next{
  right: calc(50% - 520px);
}
#slide_traning .slick-dots{
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-top: 18px;
}
#slide_traning .slick-dots li{
  display: inline-block;
	margin:0 15px;
}
#slide_traning .slick-dots button{
  font-size: 0;
  width: 38px;
  height: 14px;
  position: relative;
  margin: 0 20px;
	display:block;
}
#slide_traning .slick-dots button::before{
  content: "";
  width: 38px;
  height: 14px;
  background: #6095D1;
  position: absolute;
  top: 0;
  left: 0;
}
#slide_traning .slick-dots .slick-active button::before{
  background: #006CBB;
}
#slide_traning li img{
	width:100%;
 height:300px;
  min-height:300px;
	object-fit:cover;
}
#slide_traning .slick-slide {
    height: 100%;
		padding: 0 10px;
}
#slide_traning .slick-track{
 height:330px;
 min-height:330px;
}
#slide_traning .slick-list{
 padding:0 calc(50% - 250px)!important; 
}
@media screen and (max-width:768px){
#slide_traning .slick-arrow{
  position: absolute;
  top: 30%;
  z-index: 100;
  width: 32px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
	#slide_traning .prev{
		left: calc(50% - 140px);
		display:none!important;
	}
	#slide_traning .next{
		right: calc(50% - 140px);
		display:none!important;
	}
	#slide_traning img{
		height:200px;
		min-height:200px;
		object-fit:cover;
	}
	#slide_traning .slick-track{
		height:200px;
		min-height:200px;
	}
	/*
	.slick-list{
		padding:0 calc(50% - 150px)!important; 
	}
	*/
	.slick-dots li{
		left: -10px;
	}
}
